<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ürün Stok</title>

    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/jquery-3.4.1.min.js"></script>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Hoşgeldiniz...</a>
        </div>
    </nav>
    <br />
    <br />

            @RenderBody()

            <br />
            <!-- /.container -->
            <!-- Footer -->
            <footer class="py-5 bg-dark">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <h5 style="color:antiquewhite">Bora Acar</h5>
                    </div>
                    <div class="col-lg-4 text-center">
                        <h5 style="color:antiquewhite">Stok WebApp</h5>
                        <p style="color:antiquewhite">
                            Tüm Hakları Saklıdır...&copy; @DateTime.Now.Year
                        </p>
                    </div>
                </div>
                <!-- /.container -->
            </footer>

            <!-- Bootstrap core JavaScript -->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
