<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/shop-homepage.css" rel="stylesheet">

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">My Evernote</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="color:burlywood">
                            Anasayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:burlywood">Yönetim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/MostLiked" style="color:burlywood"> En Beğenilenler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index" style="color:burlywood"> Son Yazılar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About" style="color:burlywood">Hakkımızda</a>
                    </li>
                </ul>

            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive2" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarResponsive2">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Giriş</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Üye Ol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bora Acar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Çıkış</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

    @RenderBody();

    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark" id="footer">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5 style="color:antiquewhite">Bora Acar</h5>
            </div>
            <div class="col-lg-4 text-center">
                <h5 style="color:antiquewhite">MyEvernote</h5>
                <p style="color:antiquewhite">Tüm Hakları Saklıdır...&copy; @DateTime.Now.Year
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5 style="color:antiquewhite"> E-Bülten Üyeliği</h5>
                <input type="text" placeholder="E-Posta" />
                <button type="submit" class="btn btn-outline-primary"> Gönder</button>
            </div>
        </div>
        <!-- /.container -->
    </footer>

</body>

</html>
