
@{
    ViewBag.Title = "About";
}

<div class="container">

    <div class="row">

        <div class="col-lg-3">

            @Html.Partial("_PartialCategories")

        </div>

        <div class="col-md-7 offset-1">

            <div class="row">
                <h2>Hakkımızda...</h2>
                <hr />
                <br />
            </div>
            <br />
            <div class="align-items-center">
                <img src="http://placehold.it/500x250" alt="alternate text" />
                <hr />
                <br />
                <p>paragraf metni koyalım buraya dolu dursun...</p>
                <p>paragraf metni koyalım buraya dolu dursun...</p>
                <p>paragraf metni koyalım buraya dolu dursun...</p>
                <p>paragraf metni koyalım buraya dolu dursun...</p>
                <p>paragraf metni koyalım buraya dolu dursun...</p>
            </div>

            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>

